<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".debug.scenarios.UiScenarioActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="android.permission.DUMP"
            android:taskAffinity="app.codexlauncher.debug.scenarios" />
    </application>
</manifest>
